/scores.json
/plots.csv
/loss.csv
/accuracy.csv
/precision.csv
/recall.csv
/val_loss.csv
/false_positives.csv
/false_negatives.csv
/true_positives.csv
/true_negatives.csv
/precision_at_recall.csv
/sensitivity_at_specificity.csv
/specificity_at_sensitivity.csv
/mean_io_u.csv
